<div class="container-fluid header" role="banner">
  <div class="bar">
    <div class="logo">
      <a href="https://www.autodoc.ru" target="_blank" class="logo-atd"
        ><img src="assets/images/atd-logo.svg"
      /></a>
      <a href="http://www.adrussia.ru/" target="_blank" class="logo-adr"
        ><img src="assets/images/ad-russia.svg"
      /></a>
    </div>
    <div class="contacts">
      <a href="#">
        <fa-icon [icon]="faLocationDot"></fa-icon>
        <span>Адреса магазинов</span></a
      >
      <a href="tel:+78007779980" id="tel">+7 (800) 777-99-80</a>
    </div>
  </div>
</div>
