@use "src/app/shared/utils/color-variables.scss";

.header {
  display: block;
  align-items: center;
  background-color: color-variables.$color-alt-white;
  height: 90px;
  font-weight: 600;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
  font-size: 15px;
  font-weight: 400;

  .bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .logo {
      display: flex;
      flex-direction: row;

      .logo-atd img {
        height: 66px;
        width: auto;
      }
      .logo-adr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // width: 100%;
        // height: 66px;
        // text-align: center;

        img {
          display: inline-block;
          height: 44px;
          width: auto;
        }
      }
    }

    .contacts {
      display: flex;
      flex-direction: column;
      justify-content: center;

      a {
        display: flex;
        justify-content: flex-end;
        color: color-variables.$color-header-base-link;

        // span {
        //   text-decoration: underline;
        // }

        &:hover {
          color: color-variables.$color-header-hovered-link;
          text-decoration: none;
        }

        fa-icon {
          font-size: 16px;
          margin-right: 5px;
        }
      }

      #tel {
        text-decoration: none;
      }
    }
  }
}
