<mat-card class="tile-card" id="target{{ idx + 1 }}">
  <div class="image">
    <img
      *ngIf="post.titleImageUrl && !post.imageFile; else userInputPhoto"
      src="{{ post.titleImageUrl }}"
    />
    <ng-template #userInputPhoto>
      <img [src]="image" />
    </ng-template>
  </div>
  <div class="content-wrapper">
    <mat-card-header class="content">
      <mat-card-title class="mat-card-title-wrapper">
        <a
          class="title-link"
          [routerLink]="post.imageFile ? '' : ['/news', 'item', post.url]"
          >{{ post.title }}</a
        >
      </mat-card-title>
      <mat-card-subtitle>
        <small
          class="category"
          matTooltip="Категория"
          matTooltipPosition="right"
          >Категории: {{ post.categoryType }} </small
        ><br />
        <small
          >Опубликовано:
          {{ post.publishedDate | date: "dd MMMM yyyy года в HH:mm" }}</small
        >
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="content description">
      {{ post.description }}
    </mat-card-content>

    <mat-card-actions
      *ngIf="post.titleImageUrl && !post.imageFile"
      class="content"
    >
      <a
        mat-stroked-button
        href="{{ post.fullUrl }}"
        target="_blank"
        class="see-source"
      >
        Смотреть в источнике
      </a>
    </mat-card-actions>
  </div>
</mat-card>
