<div *ngIf="post; else loading" [post]="post" class="post-wrapper">
  <button mat-stroked-button [routerLink]="['/news']" class="back-btn">
    <i class="mb-1 material-icons md-18">arrow_back</i> Вернуться к списку
    новостей
  </button>

  <mat-card class="tile-card">
    <mat-card-header>
      <mat-card-title>
        {{ post.title }}
      </mat-card-title>
      <mat-card-subtitle>
        <small
          class="category"
          matTooltip="Категория"
          matTooltipPosition="right"
          >Категории: {{ post.categoryType }} </small
        ><br />
        <small
          >Опубликовано:
          {{ post.publishedDate | date: "dd MMMM yyyy года в HH:mm" }}</small
        >
      </mat-card-subtitle>
    </mat-card-header>
    <img
      *ngIf="post.titleImageUrl && !post.imageFile; else userInputPhoto"
      mat-card-image
      src="{{ post.titleImageUrl }}"
    />
    <ng-template #userInputPhoto>
      <img mat-card-image [src]="image" />
    </ng-template>
    <mat-card-content>
      <div class="container-fluid content">
        {{ post.description }}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a
        href="{{ post.fullUrl }}"
        mat-stroked-button
        target="_blank"
        class="see-source"
        >Смотреть в источнике</a
      >
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #loading>
  <div class="loading text-center">
    <mat-card>
      <mat-progress-spinner
        [color]="color"
        [diameter]="40"
        [mode]="mode"
        style="margin: 5px"
      >
      </mat-progress-spinner>
      <div class="loader-title">Идёт загрузка постов...</div>
    </mat-card>
  </div>
</ng-template>
