@use "src/app/shared/utils/color-variables.scss";

.news-list-header-wrapper,
.news-post-wrapper {
  max-width: 1490px;
  margin: 0px;
  display: block;
}

.news-list-header-wrapper {
  padding: 10px;

  .breadcrumbs {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    margin: 5px 0px;

    li {
      font-size: 14px;
      margin-right: 5px;
      color: color-variables.$color-base-grey;

      a {
        color: color-variables.$color-base-grey;

        &:hover {
          cursor: pointer;
          color: color-variables.$color-base-blue;
        }
      }
    }
  }

  .tools {
  }

  .title {
    font-size: 22px;
    margin: 10px 0px;
  }

  .divider {
    margin: 10px 0px 20px 0px;
  }
}

.news-post-wrapper {
  padding: 0px;
}

.topbtn {
  z-index: 99;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.addbtn {
  width: 195px;
  margin: 10px 0px;

  fa-icon {
    font-size: 18px;
  }
}

.topbtn,
.addbtn {
  height: 40px;
  border-radius: 2px;
  outline: none;
  background-color: color-variables.$color-base-blue;
  color: color-variables.$color-base-white;
  font-size: 14px;
  font-weight: 400;

  &:hover {
    background-color: color-variables.$color-base-link;
    transition: 0.3s ease;
  }
}

.loading {
  display: flex;
  justify-content: center;

  mat-card {
    display: flex;
    align-items: center;

    .loader-title {
      font-size: 24px;
      font-weight: 400;
    }
  }
}

@media (max-width: 925px) {
  .topbtn {
    bottom: 10px;
    left: 10px;
  }
}
