<div class="row news-list-header-wrapper">
  <h2 class="title">{{ title }} Автодок</h2>
  <ul class="breadcrumbs">
    <li>
      <a routerLink="/">Компания</a>
    </li>
    <li>/</li>
    <li>
      <a routerLink="['/news']">{{ title }}</a>
    </li>
  </ul>
  <button mat-raised-button (click)="addNews()" class="addbtn">
    <fa-icon [icon]="faPlus"></fa-icon>
    Добавить новость
  </button>
  <mat-divider class="divider"></mat-divider>
  <div *ngIf="posts$ | async; else loading">
    <app-news-post
      class="row news-post-wrapper"
      *ngFor="let post of news; let idx = index"
      [post]="post"
      [idx]="idx"
    ></app-news-post>
    <button mat-raised-button class="topbtn" topbtn (click)="topFunction()">
      Наверх
      <fa-icon [icon]="faLevelUpAlt"></fa-icon>
    </button>
  </div>

  <ng-template #loading>
    <div class="loading text-center">
      <mat-card>
        <mat-progress-spinner
          [color]="color"
          [diameter]="40"
          [mode]="mode"
          style="margin: 5px"
        >
        </mat-progress-spinner>
        <div class="loader-title">Идёт загрузка постов...</div>
      </mat-card>
    </div>
  </ng-template>
</div>
